*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}

header{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position:fixed; */
}

.left-half{
    color: white;
    font-family: Arial;
    display: flex;  
    align-items: center;
    gap:30px;
    margin-left: 110px;
    
}
.nav{
    font-size: 15px;
    vertical-align:middle;
    
}



.logo{
    font-size: 30px;
    font-size: bold;
    color: white;
    margin-right: 20px;
}

.right-half{
    color: white;
    display: flex;
    gap:20px;
    align-items: center;
    margin-right: 30px;
    font-size: 20px;
    font-family: arial;
}

.sign-up{
    border-radius: 35px;
    border-style: none;
    width: 85px;
    font-size: 15px;
    height: 35px;
}

.first-hero{
    width: 80vw;
    height: 500px ;
    margin-top: 80px;
    position:relative;
    margin-left: 180px;
    /* background-color: rgb(255, 255, 255); */
}

.left-pickup{
    position: absolute;
    width: 40vw;
    margin-left: 5px;
    /* background-color: rgba(172, 255, 47, 0.427); */
    height: 500px;
}

.current-city{
    font-family: arial;
}

.change-city{
    text-decoration: underline;
    margin-left: 10px ;
}
.change-city:hover{
    background-color: rgba(0, 0, 0, 0.201);
    border-radius: 25px;
    
}

.display-title{
    font-family: arial;
    font-size: 50px;
    font-weight: bold;
    width: 500px ;
    margin-top: 20px;
}
.pick{
    margin-top: 20px;
    margin-left: 10px;
    width: 170px;
    height: 40px;
    border-radius: 25px;
    border-style: none;
}

.text-inside-pickup{
    font-size: 17px;
    margin-left: 7px;
    margin-right: 7px;   
}

.right-pickup{
    position: absolute;
    right: 10px;
    background-color: rgba(255, 255, 255, 0);
    width: 40vw;
    height: 500px;
    margin-right: 20px;
    margin-top:10px;
}
.right-pickup>img{
    width: 600px;
    
    
}

.footer-uber{
    background-color: black;
    width: 100vw;
    display: block;
    height: 750px;
    margin-top: 500px;

}

.first-horizontal-footer{
    display: flex;
    width: 100vw;
    height: 125px;
    background-color: rgb(0, 0, 0);
    flex-direction: column-reverse;
    

}


.first-horizontal-footer h1{
    color: white;
    font-size: 25px;
    font-weight: 100;
    margin-left: 200px;
    
}

.second-horizontal-footer{
    width: 100vw;
    height: 125px ;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;

}

.second-horizontal-footer p{
    color: white;
    margin-left: 200px;
   
}


.main-columns{
    width: 100vw;
    height: 300px;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-evenly;

}

.sub-columns{
    margin-top: 100px;
    display: flex;
    flex-direction: column;



}

.sub-columns h1{
    color: white;
    font-size: 25px;
}

.sub-columns a{
    text-decoration: none;
    color: white;
}

.socials{
    width: 100vw;
    height: 30px;
    /* background-color: green; */
    display: flex;
    padding-left: 194px;
    align-items: center;
    gap:20px;
}

.social_icons{
    width: 25px;
    background-color: rgba(240, 248, 255, 0.929);
    border-style: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}